/* Product list*/
#product-list {
    padding-left: 245px;
    padding-right: 155px;
}

#sales-list {
    padding-left: 245px;
    padding-right: 155px;
}

.products-card {
    margin-left: 8px;
}

.card-header {
    background-color: #364a69;
}

.form-label {
    color: #353E46;
    font-weight: bold;
}

#btn-add-product {
    width: 180px;
    height: 40px;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    background-color: #5d718d;
}

.btn-view {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #688eb4;
}
.btn-warning {
    font-size: 0.8rem;
}
.btn-delete {
    font-size: 0.8rem;
    background-color: #c0392b;
    color: white;
}
.bi-trash {
    font-size: 0.8rem;
}

/* Product detail page */
#product-detail {
    padding-left: 245px;
    padding-right: 155px;
}

.btn-edit-product {
    color: white;
    font-weight: bold;
    background-color: #688eb4;
}
.btn-delete-product {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: #c0392b;
}

#edit-product {
    height: auto;
}


.btn-filter {
    background-color: #5d718d;
    color: white;
    font-weight: bold;
}
.btn-filter:hover {
    background-color: #364a69;
    color: white;
}
.btn-filter-clear {
    background-color: #adb5bd;
    color: white;
    font-weight: bold;
}
.btn-filter-clear:hover {
    background-color: #6c757d;
    color: white;
}

.purchase-client-link {
    font-weight: bold;
    color: #1c4e6a;
    text-decoration: none;
}
.purchase-client-link:hover {
    color: #387ea6;
    text-decoration: underline;
}
.purchase-product-link {
    font-weight: bold;
    color: #688eb4;
    text-decoration: none;
}
.purchase-product-link:hover {
    color: #364a69;
    text-decoration: underline;
}