#task-list {
    padding-left: 220px;
}

.card-header {
    background-color: #364a69;
}
.form-label {
    color: #353E46;
    font-weight: bold;
}

#btn-add-task {
    width: 120px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    background-color: #5d718d;
}

.btn-task-comment {
    border: none;
}

.btn-task-comment:hover {
    background-color: #5d718d;
    color: white;
}
.btn-task-delete {
    border: none;
    color: white;
}

#company-name a{
    font-weight: bold;
    text-decoration: none;
    color: #5d6677;
}
#company-name a:hover {
    color: #3ba48c;
    font-size: 1.1rem;
}
.sort-option a{
    color: black;
    text-decoration: none;
}

/* resposive */
@media (max-width: 575.99px) {
    #task-list {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
    #task-detail {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
    #btn-add-task {
        width: 120px;
        font-size: 0.9rem;
    }
    .tasks-card {
        margin: 0;
        padding:5px;
    }


}
@media (max-width: 768px) {
    #task-list {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 0;
        height: 100vh;
    }
    #task-detail {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 0;
        height: auto;
    }
}
@media (max-width: 991px) {
    #task-list {
        font-size: 0.7rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
}