{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
	Add Lead
{% endblock %}

{% block content %}


    <div class="container-fluid mx-auto mt-4">

        <div class="row justify-content-center">
            <form method="post" class="needs-validation" action="." novalidate style="background-color: #cfd2d2; padding: 20px; border-radius: 3px; width: 75%; ">
                <h4 class="mb-3 text-center" style="background-color: #2c4f4f; padding: 5px; border-radius: 3px; color: white; margin: -20px -20px 20px -20px;">Add Lead</h4>
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}{{ error }}{% endfor %}
                    </div>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">

                        <!-- Company -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.company.id_for_label }}" class="form-label fs-6">{{ form.company.label }}: {% if form.company.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.company|add_class:"form-control" }}
                                {% for error in form.company.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <!-- First Name / Last Name -->
                        <div class="row mb-3">
                            <div class="col-12 col-sm-6">
                                <label for="{{ form.first_name.id_for_label }}" class="form-label fs-6">{{ form.first_name.label }}: {% if form.first_name.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.first_name|add_class:"form-control" }}
                                {% for error in form.first_name.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label for="{{ form.last_name.id_for_label }}" class="form-label fs-6">{{ form.last_name.label }}: {% if form.last_name.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.last_name|add_class:"form-control" }}
                                {% for error in form.last_name.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                    <label for="{{ form.title.id_for_label }}" class="form-label fs-6">{{ form.title.label }}: {% if form.title.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                    {{ form.title|add_class:"form-control" }}
                                    {% for error in form.title.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                                </div>
                        </div>

                        <!-- Address / Zipcode -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.address.id_for_label }}" class="form-label fs-6">{{ form.address.label }}: {% if form.address.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.address|add_class:"form-control" }}
                                {% for error in form.address.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="{{ form.zipcode.id_for_label }}" class="form-label fs-6">{{ form.zipcode.label }}: {% if form.zipcode.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.zipcode|add_class:"form-control" }}
                                {% for error in form.zipcode.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                            <div class="col-8">
                                <label for="{{ form.city.id_for_label }}" class="form-label fs-6">{{ form.city.label }}: {% if form.city.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.city|add_class:"form-control" }}
                                {% for error in form.city.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-start">
                            <div class="col-12">
                                    <label for="{{ form.country.id_for_label }}" class="form-label fs-6">{{ form.country.label }}: {% if form.country.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                    {{ form.country|add_class:"form-control" }}
                                    {% for error in form.country.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                                </div>
                        </div>

                        <!-- Phone / Email -->
                        <div class="row mb-3">
                             <div class="col-6">
                                <label for="{{ form.phone.id_for_label }}" class="form-label fs-6">Tel: {% if form.phone.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.phone|add_class:"form-control" }}
                                {% for error in form.phone.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                            <div class="col-6">
                                <label for="{{ form.mobile.id_for_label }}" class="form-label fs-6">{{ form.mobile.label }}: {% if form.mobile.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.mobile|add_class:"form-control" }}
                                {% for error in form.mobile.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="{{ form.email.id_for_label }}" class="form-label fs-6">{{ form.email.label }}: {% if form.email.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                    {{ form.email|add_class:"form-control" }}
                                    {% for error in form.email.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                        </div>

                        <!-- Website -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.website.id_for_label }}" class="form-label fs-6">{{ form.website.label }}: {% if form.website.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.website|add_class:"form-control" }}
                                {% for error in form.website.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <!-- Priority / Status / Status Sale -->
                        <div class="row mb-3">
                            <div class="col-12 col-sm-4">
                                <label for="{{ form.priority.id_for_label }}" class="form-label fs-6">{{ form.priority.label }}: {% if form.priority.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.priority|add_class:"form-control" }}
                                {% for error in form.priority.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                            <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                <label for="{{ form.status.id_for_label }}" class="form-label fs-6">{{ form.status.label }}: {% if form.status.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.status|add_class:"form-control" }}
                                {% for error in form.status.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                            <div class="col-12 col-sm-4 mt-3 mt-sm-0">
                                <label for="{{ form.status_sale.id_for_label }}" class="form-label fs-6">{{ form.status_sale.label }}: {% if form.status_sale.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.status_sale|add_class:"form-control" }}
                                {% for error in form.status_sale.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="row mb-3">
                            <div class="col-12">
                                <label for="{{ form.description.id_for_label }}" class="form-label fs-6">{{ form.description.label }}: {% if form.description.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                {{ form.description|add_class:"form-control" }}
                                {% for error in form.description.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="d-flex gap-2 justify-content-md-end">
                            <button type="submit" class="btn btn-sm fs-6 fw-bolder form-submit-btn py-lg-2">Submit</button>
                            <button type="button" class="btn btn-sm fs-6 fw-bolder btn-cancel btn-secondary py-lg-2 d-flex align-items-center justify-content-center" onclick="window.location.href='{% url 'lead:list' %}'">
                                <span style="text-align: center;">Cancel</span>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}