{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% block css %}
    	<link rel="stylesheet" href="{% static 'core/core.css' %}">
    {% endblock %}

    <div class="container-fluid my-xl-5 my-xxl-5 pt-xxl-2">

            <div class="row my-xxl-2" >
                <div class="col-12">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="text-center">
                                <h1 class="text-center"> CRM SYSTEM</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="text-center">
                        <p class="index-p px-auto pt-md-2 py-xxl-4">Your productivity hub for managing leads, clients, and deals.</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <a href="{% url 'login' %}" class="btn btn-log fw-bolder fs-5">
                            Get started<i class="fa-solid fa-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
            <div class="row mx-xxl-2 mt-md-4 shadow p-3 mb-5 rounded" id="index-cards">
                <div class="col mb-4 py-lg-4 mx-xxl-2">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title h5-index px-sm-2 py-3"><i class="fa-solid fa-user-plus px-3"></i>Manage Leads</h5>
                            <p class="card-text p-index px-3">Effortlessly add, track, and nurture new leads. Stay in control of your sales funnel.</p>
                            <img src="{% static 'images/businessman-blurred-background-with-people-connection-icon-business-leadership-chart.jpg' %}" alt="lead" class="lead-img img-fluid mt-auto" style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <div class="col mb-4 py-lg-4 mx-xxl-1">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title h5-index py-3"><i class="fa-solid fa-users px-2"></i>Clients & Contacts</h5>
                            <p class="card-text p-index px-3">Organize clients, store notes, and quickly access key contacts.</p>
                            <img src="{% static 'images/business-people-shaking-hands-greeting.jpg' %}" alt="client" class="client-img img-fluid mt-auto" style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <div class="col mb-4 py-lg-4 mx-xxl-1">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title h5-index py-3"><i class="fa-solid fa-list-check px-2"></i>Tasks & Calendar</h5>
                            <p class="card-text p-index px-3">Stay on top of tasks, appointments, and deadlines with your integrated calendar.</p>
                            <img src="{% static 'images/freepik__talk__22074.png' %}" alt="calendar" class="calendar-img img-fluid mt-auto" style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </div>
                <div class="col mb-4 py-lg-4 mx-xxl-2">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title h5-index py-3"><i class="fa-solid fa-chart-line px-2"></i>Performance Insights</h5>
                            <p class="card-text p-index px-3">Analyze sales activities and track your progress with built-in dashboards.</p>
                            <img src="{% static 'images/customer-relationship-management-concept.jpg' %}" alt="performance" class="performance-img img-fluid mt-auto" style="height: 200px; object-fit: cover;">
                        </div>
                    </div>
                </div>
            </div>
           <div class="row mx-lg-2 mt-md-5 py-md-5 my-lg-3 align-items-center">
               <div class="col-6">
                   <div class="text-center">

                   </div>
               </div>
               <div class="col-6 py-md-5">
                   <div class="text-start">

                   </div>
               </div>
           </div>

    </div>


{% endblock %}