
/* lead delete form*/
#lead_delete_form {
    display: inline;
}

/* Convert button */
#convert {
    text-decoration: underline;
    color: #1c4e6a;
    font-weight: bold;
    font-size: 18px;
}
#convert:hover {
    color: #387ea6;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
    cursor: pointer;
}

/* Lead detail page */
.card-title {
    background-color: #6d8d8d;
    color: white;
    border-radius: 5px;
}
.card-footer {
    background-color: #6d8d8d;
    color: white;
}

.lead-detail-table,
.lead-detail-table th,
.lead-detail-table td,
.lead-detail-table tbody,
.lead-detail-table tr {
  border: 0 !important;
}
.lead-detail-table td {
    text-align: left;
    font-size: 1rem;
}

.lead-company {
    font-weight: bold;
    color: #1c4e6a;
    text-decoration: none;
}
.lead-company:hover {
    color: #387ea6;
    text-decoration: underline;
}
.lead-name {
    font-weight: bold;
    color: #688eb4;
    text-decoration: none;
}
.lead-name:hover {
    color: #364a69;
    text-decoration: underline;
}

/* Responsive design*/
