#client-container {
    padding-left: 245px;
    padding-right: 155px;
}

#add-purchase-container {
    padding-left: 245px;
    padding-right: 155px;
}

#add-client-container {
   padding-left: 225px;
    padding-right: 75px;
}

/*Client detail page */
.card-title {
    background-color: #697272;
    color: white;
    border-radius: 5px;
}
.card-footer {
    background-color: #697272;
    color: white;
}

.client-detail-table,
.client-detail-table th,
.client-detail-table td,
.client-detail-table tbody,
.client-detail-table tr {
  border: 0 !important;
}

.client-detail-table td {
    text-align: left;
    font-size: 1rem;
}


/* Responsive design*/
@media (max-width: 575px) {
    #client-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;;
    }
    .client-detail-table td {
        font-size: 0.9rem;
    }

}

.client-a-company {
    font-weight: bold;
    color: #1c4e6a;
    text-decoration: none;
}
.client-a-company:hover {
    color: #387ea6;
    text-decoration: underline;
}
.client-a-name {
    font-weight: bold;
    color: #688eb4;
    text-decoration: none;
}
.client-a-name:hover {
    color: #364a69;
    text-decoration: underline;
}

@media (max-width: 768px) {
    #client-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
}

@media (max-width: 991px) {
    #client-container {
        font-size: 0.7rem;
        margin: 25px auto;
        width: 100%;
        padding: 25px;
        height: 100vh;
    }
}
