
.dashboard-p {
    font-size: 1rem;
}
.dashboard-card {
    border-radius: 5px;
    border: 2px solid gray;
    width: 50%;
    margin: 15px auto;
}
.company-a a {
    font-weight: bold;
    color: #146c43;
}
.company-a a:hover {
    color: #06120d;
    text-decoration: none;
}
.name-a a {
    font-weight: bold;
    color: rgba(104, 142, 180, 0.95);
    text-decoration: none;
}
.name-a a:hover {
    color: rgba(29, 57, 85, 0.85);
    text-decoration: underline;
}

/* Responsive design*/

@media (max-width: 576px) {
    .purchase-filters label {
        font-size: 0.75rem !important;
        margin-bottom: 0.25rem;
    }

    .purchase-filters .form-select {
        font-size: 0.75rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .purchase-filters .col {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}



