#dashboard-container {
    padding-left: 220px;
}
#dashboard-charts {
    padding-left: 220px;
}
.dashboard-p {
    font-size: 1rem;
}
.dashboard-card {
    border-radius: 5px;
    border: 2px solid gray;
    width: 50%;
    margin: 15px auto;
}
.lead-company-a a {
    font-weight: bold;
    color: #146c43;
}
.lead-company-a a:hover {
    color: #093522;
}
.lead-name-a a {
    font-weight: bold;
    color: rgba(104, 142, 180, 0.95);
    text-decoration: none;
}
.lead-name-a a:hover {
    color: rgba(29, 57, 85, 0.85);
}

/* Responsive design*/
@media (max-width: 575px) {
    .dashboard-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .dashboard-card {
        height: 80px;
    }
    .dashboard-card h4 {
        font-size: 1.2rem;
    }

}
@media (max-width: 768px) {
    .dashboard-container {
        font-size: 0.6rem;
        margin: 25px auto;
        width: 100%;
        padding: 15px;
        height: auto;
    }
    .dashboard-card {
        height: 80px;
    }
    .dashboard-card h4 {
        font-size: 1.2rem;
    }
}
@media (max-width: 991px) {
    .dashboard-card {
        height: 90px;
    }
    .dashboard-p {
        padding-bottom: 8px;
    }
}
@media (max-width: 1199.98px) {
    .dashboard-card {
        width: 25%;
    }
}
@media (max-width: 1399.98px) {
    .dashboard-card {
        width: 25%;
    }
}
@media (min-width:2150px) {
    .dashboard-card {
        width: 50%;
    }
    #dashboard-datetime {
        font-size: 1.5rem !important;
        padding-top: 0;
    }
    .dashboard-p {
        font-size: 2rem;
    }
}


