{% extends 'base.html' %}
{% load static %}
{% block title %}Team - {{ team.name }}{% endblock %}

{% block content %}

    <div class="container py-4 bg-warning">

        <div class="row mt-3 mb-4">
            <div class="col-2">
                <a href="{% url 'core:teams_manage' %}" class="btn btn-secondary">Back to Teams</a>
            </div>
            <div class="col-10">
                <h4 class="text-center">Team: {{ team.name }} - {% if team.is_active %}Active{% else %}Inactive{% endif %}</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="row justify-content-around">
                    <div class="col-5 rounded-3 pt-3">
                        <table class="table border-0">
                            <thead class="border-0">
                                <tr class="text-center">
                                    <th colspan="2"><h4>Info</h4></th>
                                </tr>
                            </thead>
                            <tbody class="border-0">
                                <tr>
                                    <td class="border-0"><strong>Created By:</strong> </td>
                                    <td class="border-0 text-start">{{ team.created_by.username }}</td>
                                </tr>
                                <tr>
                                    <td class="border-0"><strong>Description:</strong> </td>
                                    <td class="border-0 text-start">{{ team.description }}</td>
                                </tr>
                                <tr>
                                    <td class="border-0"><strong>Created At:</strong> </td>
                                    <td class="border-0 text-start">{{ team.created_at }}</td>
                                </tr>
                                <tr>
                                    <td class="border-0"><strong>Updated At:</strong> </td>
                                    <td class="border-0 text-start">{{ team.updated_at }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5 bg-light">
                        <h4 class="text-center">Team Project</h4>
                        {% if team_project %}
                            <ul>
                                {% for assignment in team_project %}
                                    <li>{{ assignment.project.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No project assigned to this team.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <div class="row mt-3">
        <div class="col-6 bg-info">
            <h4 class="text-center">Team Members</h4>
            {% if team_members %}
                <ul>
                    {% for member in team_members %}
                        <li>{{ member.user.username }} - {{ member.role }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No members in this team.</p>
            {% endif %}
        </div>


    </div>

    </div>

{% endblock %}