<!-- Offcanvas -->
 {% load static %}

<div class="offcanvas-custom" id="sidebarMenu">
    <div class="p-3">
        <ul class="list-unstyled text-center">
            <li class="text-start">
                <a href="{% url 'dashboard:dashboard' %}" class="offcanvas-a d-flex align-items-center">
                    <img src="{% static 'images/dashboard_6820898.png' %}" width="24" height="24" class="me-2">Board</a>
            </li>
            <li class="text-start">
                <a href="{% url 'lead:list' %}">
                    <i class="fa-solid fa-circle-user px-2"></i>Leads
                </a>
            </li>
            <li class="text-start">
                <a href="{% url 'client:list' %}">
                    <i class="fa-regular fa-circle-user px-2"></i>Clients
                </a>
            </li>
            <li class="text-start">
                <a href="{% url 'task:task_list' %}">
                    <i class="fa-solid fa-list-check px-2"></i>Tasks
                </a>
            </li>
            <li class="text-start text-nowrap">
                <a href="{% url 'product:product_list' %}">
                    <i class="bi bi-unity px-2"></i>Products
                </a>
            </li>
            <li class="text-start text-nowrap">
                <a href="{% url 'product:sales_list' %}">
                    <i class="fa fa-shopping-cart px-lg-2" aria-hidden="true"></i>Sales
                </a>
            </li>
            <li class="text-start text-nowrap">
                <a href="{% url 'calendarapp:calendar' %}">
                    <i class="fa-regular fa-calendar-days px-2"></i>Calendar
                </a>
            </li>
        </ul>

        {% if request.user.is_authenticated %}
            <hr class="text-secondary">
            <ul class="list-unstyled">
                <li class="text-start text-nowrap">
                    <a href="{% url 'core:project_list' %}">
                        <i class="bi bi-kanban px-md-2"></i>Projects</a>
                </li>
                <li class="text-start text-nowrap">
                    <a href="{% url 'core:teams_manage' %}">
                        <i class="bi bi-people px-md-2"></i>Teams</a>
                </li>
                <li class="text-start">
                    <a href="{% url 'userprofile:account' %}">
                        <i class="bi bi-person-circle px-md-2"></i>Account</a>
                </li>

                <li class="text-start">
                    <a href="{% url 'logout' %}" class="text-danger">
                        <i class="bi bi-box-arrow-right px-md-2"></i>Logout</a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>